<settings>
    <profiles>
        <profile>
            <id>default</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>central</id>
                    <name>Maven Central</name>
                    <url>http://gscentral.area.services.gs.com/maven/</url>
                </repository>
                <repository>
                    <id>AREA-public</id>
                    <name>AREA Repository</name>
                    <url>http://area.services.gs.com/area/repo/cbkmaventest</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <name>Maven Central</name>
                    <url>http://gscentral.area.services.gs.com/maven/</url>
                </pluginRepository>
                <pluginRepository>
                    <id>AREA-public</id>
                    <url>http://area.services.gs.com/area/repo/cbkmaventest</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>default</activeProfile>
    </activeProfiles>
</settings>
